@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  
  --color-gold-50: #fbf8e8;
  --color-gold-100: #f4ecbc;
  --color-gold-200: #ebd881;
  --color-gold-300: #e0be47;
  --color-gold-400: #d4af37;
  --color-gold-500: #b8912b;
  --color-gold-600: #966f22;
  --color-gold-700: #76531d;
  --color-gold-800: #5f421b;
  --color-gold-900: #51391a;
  --color-gold-950: #2e1e0c;

  --font-montserrat: "Montserrat", sans-serif;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #d4af37;
  color-scheme: dark; /* Força controles nativos (calendário, scrollbar) para modo escuro */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

@layer base {
  * {
    @apply border-gold-400/20;
  }
}